* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #191919;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.outer {
    flex-wrap: wrap;
    max-width: 500px;
    font-size: 2rem;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
} 
.inner {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inner button {
    display: inline-block;
    margin-top: 10px;
}
.btn-group {
    margin: 10px;
}
button{
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    transition: background  0.5s ;
}
button:hover{
    background-color: black;
    color: white;
}
textarea{
    background-color: #EBE3D5;
    border: 2px solid black;
    font-size: 1.4rem;
    color: blue;
    border-radius: 10px;
}