/* <div class="container">
<div class="outer">
    <div class="inner">
        <input type="date" placeholder="00/00/00" id="input">
        <button class="btn">Caluclate</button>
    </div>
    <div id="year">10</div>
    <div id="month">20</div>
    <div id="days">30</div>
</div>
</div> */
body{
    margin: 0;
    padding: 0;
    background-color: #0a6cf1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content{
    width: 50px;
    height: 50px;
    color: #ffffff;
    background-color: #080808;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px 20px;
    font-size: xx-large;
    border-radius: 8px;
}
p{
    display: inline-block;
    font-size: small;
    opacity: 0.6;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner{
    margin: 50px;
    padding: 20px 20px;
    background-color: #080808;
    border-radius: 8px;
}
.parts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#input{
  padding: 4px 8px;
  background-color: #ffffff;
  font-size: large;
  border-radius: 8px;
}
.btn{
    font-size: medium;
    font-weight: 500;
    padding: 6px;
    background-color: #ffffff;
    margin-left: 10px;
    border-radius: 8px;
}

